.ComboBox {
  &.fluid {
    width: 100%;
  }
  .ComboBoxTrigger__control {
    min-height: 44px;
    min-width: 220px;
    border: 1px solid var(--border-neutral);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    color: var(--foreground-neutral);
    width: 100%;
    padding: 2px 12px 2px 12px;
    background-color: var(--background-neutral-container);
    box-sizing: border-box;
  }
  .ComboBoxTrigger__value-container {
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--size-50);
    .ComboBoxTrigger__single-value {
      color: var(--foreground-neutral);
    }
    .ComboBoxTrigger__multi-value {
      margin: 0;
      padding: var(--size-50);
      border-radius: var(--size-50);
      background-color: var(--background-neutral-hover);
      display: flex;
      flex-direction: row;
      gap: var(--size-50);
      font-size: 16px;
      color: var(--foreground-neutral);
      .SelectAvatar {
        width: 24px;
        height: 24px;
        margin-left: var(--size-50);
        background-color: var(--background-neutral-active);
      }
      .ComboBoxTrigger__multi-value__remove {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        color: var(--foreground-neutral);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: var(--background-neutral-active);
        }
        svg {
          width: 16px;
          height: 16px;
          * {
            stroke-width: 1.5625px;
          }
        }
      }
      .ComboBoxTrigger__multi-value__label {
        display: flex;
        flex-direction: row;
        padding: 0;
        align-items: center;
        justify-content: center;
        color: var(--foreground-neutral);
        .OptionEmail {
          display: none;
        }
      }
    }
  }
  .ComboBoxTrigger__placeholder {
    margin: 0;
    color: var(--foreground-neutral);
  }

  .ComboBoxTrigger__control--is-focused {
    box-shadow:
      0px 0px 0px 2px var(--focus-inner),
      0px 0px 0px 6px var(--focus-outer),
      0px 0px 0px 8px var(--focus-inner);
    outline: none;
    border-color: var(--border-neutral) !important;
    animation: none;
  }

  .ComboBoxTrigger__input-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .ComboBoxTrigger__input {
      color: var(--foreground-neutral) !important;
      &:active,
      &:focus {
        box-shadow: none;
        outline: none;
        color: currentColor;
      }
    }
  }
  .ComboBoxTrigger__indicators {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--size-100);
    gap: var(--size-100);
    .ComboBoxTrigger__indicator-separator {
      background-color: var(--border-neutral);
      margin: 4px 0;
    }
    .ComboBoxTrigger__dropdown-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
        color: var(--foreground-neutral);
        * {
          stroke-width: 1.25px;
        }
      }
    }
    .ComboBoxTrigger__clear-indicator {
      width: 36px;
      height: 36px;
      border-radius: 4px;
      background-color: transparent;
      color: var(--foreground-neutral);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: var(--background-neutral-hover);
      }
      svg {
        width: 20px;
        height: 20px;
        * {
          stroke-width: 1.25px;
        }
      }
    }
  }

  .SelectTrigger__option--is-selected {
  }

  .SelectTrigger__option--is-focused {
  }
}

.ComboBoxTrigger__menu {
  overflow: hidden;
  border-radius: 4px !important;
  z-index: 9 !important;
  box-shadow: var(--shadow-level-2) !important;
  gap: var(--size-100);
  padding: var(--size-100);
  display: flex;
  flex-direction: column;
  background-color: var(--background-neutral-container) !important;

  .ComboBoxTrigger__menu-list {
    gap: var(--size-50);
    display: flex;
    flex-direction: column;

    .ComboBoxTrigger__option {
      font-size: 16px;
      line-height: 1;
      color: var(--foreground-neutral);
      border-radius: 4px;
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 var(--size-400) 0 var(--size-300);
      position: relative;
      user-select: none;
      &.ComboBoxTrigger__option--is-selected {
        background-color: var(--background-neutral-hover);
        color: var(--foreground-neutral);
        .OptionEmail {
          color: var(--foreground-neutral-subtle);
        }
      }

      &.ComboBoxTrigger__option--is-focused {
        background-color: var(--background-primary);
        color: var(--black);
        .OptionEmail {
          color: var(--black-200);
        }
      }
      &:hover {
        background-color: var(--background-primary);
        color: var(--black);
      }
      .OptionEmail {
        margin-left: var(--size-100);
        line-height: 24px;
        font-size: 16px;
        color: var(--foreground-neutral-subtle);
      }

      .SelectAvatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        margin-right: var(--size-100);
        background-color: var(--background-neutral-active);
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}
