.SelectTrigger {
    display: inline-flex;
    height: 44px;
    min-height: 44px;
    min-width: 220px;
    border: 1px solid var(--border-neutral);
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    color: var(--foreground-neutral);
    width: 100%;
    padding: 0px 12px 0px 12px;
    background-color: var(--background-neutral-container);
    box-sizing: border-box;
    span:first-child {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
}
.SelectTrigger:hover {
    background-color: var(--background-neutral);
}
.SelectTrigger:focus {
    box-shadow: var(--focus);
    outline: none;
    border: none;
    animation: none;
}
.SelectTrigger[data-placeholder] {
    color: var(--foreground-neutral);
}

.SelectIcon {
    color: Var(--foreground-neutral);
}

.SelectContent {
    overflow: hidden;
    background-color: var(--background-neutral-container);
    border-radius: 4px;
    z-index: 14 !important;
    box-shadow: var(--shadow-level-2);
    gap: var(--size-100);
    padding: var(--size-100);
    display: flex;
    flex-direction: column;
}

div[role="listbox"] {
    z-index: 14 !important;
}

.SelectViewport {
    padding: var(--size-50);
}

.SelectItem {
    font-size: 16px;
    line-height: 1;
    color: var(--foreground-neutral);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 var(--size-400) 0 var(--size-400);
    position: relative;
    user-select: none;
    span:first-child {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
}

.SelectItem[data-disabled] {
    color: var(--foreground-neutral-disabled);
    pointer-events: none;
}
.SelectItem[data-highlighted] {
    outline: none;
    background-color: var(--brand-2);
    color: var(--black);
    box-shadow: none;
}

.SelectLabel {
    padding: 0 var(--size-300);
    font-size: 14px;
    line-height: 24px;
    color: var(--foreground-neutral-subtle);
}

.SelectSeparator {
    height: 1px;
    background-color: var(--border-neutral-subtle);
    margin: var(--size-100);
}

.SelectItemIndicator {
    position: absolute;
    left: 4px;
    width: var(--size-300);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size-300);
    color: var(--foreground-neutral);
    cursor: default;
}

.SelectAvatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body-bold);
    font-size: 14px;
    color: var(--foreground-neutral);
    margin-right: var(--size-100);
    background-color: var(--background-neutral-hover);
    text-transform: uppercase;
    line-height: 1;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
