button {
    all: unset;
}

.SwitchRoot {
    width: 44px;
    height: var(--size-300);
    background-color: var(--background-neutral-hover);
    border-radius: 9999px;
    position: relative;
    cursor: pointer;
    transition: 250ms ease 0s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // border: 1px solid var(--border-neutral);
    &:hover {
        background-color: var(--background-neutral-active);
        .SwitchThumb {
            transition: 250ms ease 0s;
            &:not([data-disabled]) {
                &:not([data-state="checked"]) {
                    width: 20px;
                    height: 20px;
                    transform: translateX(2px);
                }
                &[data-state="checked"] {
                    width: 20px;
                    height: 20px;
                    transform: translateX(22px);
                }
            }
        }
    }
    &[data-disabled] {
        background-color: var(--background-neutral-disabled);
        // border-color: var(--border-neutral-subtle);
        .SwitchThumb {
            background-color: var(--foreground-neutral-disabled);
        }
        & + * {
            color: var(--foreground-neutral-disabled);
        }
    }
    &[data-state="checked"] {
        background-color: var(--brand-2);
    }
}
.SwitchRoot:focus {
    box-shadow: var(--focus);
    outline: none;
}

.SwitchThumb {
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--background-neutral-container);
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(4px);
    transition: 250ms ease 0s;
    will-change: transform;
    &[data-state="checked"] {
        transform: translateX(24px);
    }
}

.Label {
    font-size: 16px;
    line-height: 1;
    color: var(--foreground-neutral);
    cursor: pointer;
}
.darkmode {
    .SwitchRoot {
        background-color: var(--gray-400);
        &:hover {
            background-color: var(--gray-300);
        }
        &[data-disabled] {
            background-color: var(--black-200);
        }
        &[data-state="checked"] {
            background-color: var(--brand-2);
        }
    }
}
