.BadgeLevel {
    width: auto;
    min-width: 32px;
    // height: 36px;
    height: 40px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    // padding: 0 var(--size-150);
    z-index: 0;
    p {
        z-index: 2;
        position: relative;
        color: var(--black);
        background-color: var(--brand-2);
        height: 100%;
        line-height: 28px;
        box-sizing: border-box;
        border-top: 4px solid var(--black);
        border-bottom: 8px solid var(--black);
    }
    img {
        width: 12px;
        height: auto;
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
        &.BadgeImage {
            &Left {
                left: 0;
            }
            &Right {
                right: 0;
            }
        }
    }
}
