.Badge {
    position: absolute;
    top: -8px;
    left: 100%;
    transform: translateX(-50%);
    background-color: var(--background-neutral-container-inverted);
    color: var(--foreground-neutral-inverted);
    border-radius: 20px;
    font-size: 11px;
    font-family: var(--font-accent-bold);
    line-height: 22px;
    font-weight: bold;
    min-width: 22px;
    padding: 0 6px;
    height: 22px;
    display: flex;
    text-transform: uppercase;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-sizing: border-box;
    border: 2px solid var(--background-neutral-container);
}
