.Card {
    background-color: var(--background-neutral-container);
    border-radius: var(--size-100);
    box-shadow: var(--shadow-level-1);
    padding: var(--size-400) var(--size-300) var(--size-500);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    &.noPadding {
        padding: 0;
    }
    &-outline {
        box-shadow: none;
        border: 1px solid var(--border-neutral-subtle);
    }
    &-ghost {
        box-shadow: none;
        background-color: transparent;
    }
}