.heading {
    &-bold {
        font-weight: bold;
    }
    &-regular {
        font-weight: normal;
    }
}

h1 {
    font-size: var(--size-600);
}

h2 {
    font-size: var(--size-500);
}

h3 {
    font-size: var(--size-400);
}

h4 {
    font-size: 20px;
}
