.Separator {
    height: 1px;
    background-color: var(--border-neutral-subtle);
    width: 100%;
    display: flex;
    margin: var(--size-100) 0;
    &.vertical {
        height: inherit;
        width: 1px;
        margin: 0 var(--size-100);
    }
}
