.Spinner {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 3;
    svg {
        position: relative;
        z-index: 3;
        // width: 164px !important;
        width: 34px !important;
        height: auto !important;
        display: block;
        align-items: center;
        * {
            fill: var(--foreground-neutral-disabled);
        }
    }
}
