.TableComponent {
    border-collapse: collapse;
    font-family: var(--font-body);
    font-size: 14px;
    color: var(--foreground-neutral);
    // border-collapse: separate;
    border-spacing: 0px;
    *:focus-visible {
        box-shadow: var(--focus);
        outline: none;
    }
    &.fluid {
        width: 100%;
        flex: 1;
    }
    thead {
        font-family: var(--font-body-bold);
        font-size: 14px;
        tr {
            th {
                padding: var(--size-100);
                text-align: left;
                font-size: 12px;
                line-height: 12px;
                color: var(--foreground-neutral-placeholder);
                &.hoverable {
                    &:hover {
                        transition: 250ms ease 0s;
                        background-color: var(--background-neutral);
                    }
                }
                svg {
                    vertical-align: middle;
                    color: currentColor;
                }
                &:last-child {
                    white-space: nowrap;
                    width: 32px;
                }
                .sortable .sort-indicator {
                    visibility: hidden;
                }

                .sortable:hover .sort-indicator {
                    visibility: visible;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                border-top: 1px solid var(--border-neutral-subtle);
                padding: var(--size-100);
                text-align: left;
                button.icon-button,
                button.button {
                    margin: auto;
                }
                &:last-child {
                    white-space: nowrap;
                    width: 32px;
                }
            }
        }
    }
    .pagination {
        margin-left: auto;
    }
    &.hoverable {
        tbody {
            tr {
                &:hover {
                    transition: 250ms ease 0s;
                    background-color: var(--background-neutral);
                }
            }
        }
    }
    &.fullBorder {
        tbody {
            tr {
                td {
                    border: 1px solid var(--border-neutral-subtle);
                }

                // &:first-child {
                //     td:first-child {
                //         border-top-left-radius: var(--size-100);
                //     }
                //     td:last-child {
                //         border-top-right-radius: var(--size-100);
                //     }
                // }
                // &:last-child {
                //     td:first-child {
                //         border-bottom-left-radius: var(--size-100);
                //     }
                //     td:last-child {
                //         border-bottom-right-radius: var(--size-100);
                //     }
                // }
            }
        }
    }
}
