.Tag {
    display: flex;
    padding: 0 var(--size-50);
    font-size: 12px;
    height: 18px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    justify-content: center;
    width: fit-content;
    // box-sizing: border-box;
    border: 1px solid;
    &-Normal {
        background-color: var(--background-neutral);
        color: var(--foreground-neutral-subtle);
        border-color: var(--border-neutral);
    }
    &-Demo {
        background-color: var(--background-neutral-container-inverted);
        color: var(--foreground-neutral-inverted);
        border-color: var(--border-neutral-inverted);
    }
    &-Primary {
        background-color: var(--brand-2);
        color: var(--black-400);
        border-color: var(--brand-2);
    }
}
