.TopBanner {
    width: 100%;
    height: var(--size-800);
    border-radius: 4px;
    padding: var(--size-100) var(--size-200);
    box-sizing: border-box;
    max-width: 1200px;
    &.warning {
        background-color: var(--yellow-200);
    }
    &.info {
        background-color: var(--blue-1);
    }
    &.danger {
        background-color: var(--red-500);
        h4,
        p {
            color: var(--white);
        }
        .icon-button:not(:hover) {
            color: var(--white);
        }
    }
    h4 {
        line-height: 1;
        color: var(--black);
        margin-bottom: var(--size-50);
    }
    p {
        color: var(--black);
    }
}
