.UserItem {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    // gap: var(--size-150);
    .UserInfo {
        p.text-small {
            color: var(--foreground-neutral-subtle);
        }
    }
}
