.UserOnHoldItem {
    border: 1px solid var(--border-neutral-subtle);
    background-color: var(--background-neutral-container);
    padding: 0 var(--size-150);
    border-radius: var(--size-50);
    height: 56px;
    box-sizing: border-box;
    &.fluid {
        width: 100%;
    }
    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid var(--border-neutral-subtle);
    }
}
