.Navbar {
    background-color: var(--background-neutral-container);
    padding: 0 var(--size-200);
    // box-shadow: var(--shadow-level-1);
    height: 56px;
    max-width: calc(1200px - var(--size-200));
    margin: 0 var(--size-200);
    border-radius: var(--size-100);
    width: auto;
    align-items: center;
    position: fixed;
    top: 8px;
    left: 16px;
    right: 16px;
    margin: auto;
    z-index: 99;
    color: var(--foreground-neutral);
    // border: 1px solid var(--border-neutral-subtle);

    // &.scrolled {
    //     position: fixed;
    //     top: 8px;
    //     left: 16px;
    //     right: 16px;
    //     margin: auto;
    //     z-index: 99;
    // }
    .Logo {
        margin: 0;
    }
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 400px !important;
}
.DesignSystem {
    padding: calc(var(--size-1200) - 8px) 0;
    width: 100%;
    position: relative;
    color: var(--foreground-neutral);
    // background-color: var(--background-neutral-page-back);
    min-height: 100vh;
    box-sizing: border-box;
    .Section {
        background-color: var(--background-neutral-container);
        border-radius: var(--size-100);
        box-shadow: var(--shadow-level-1);
        box-sizing: border-box;
        padding: var(--size-300) var(--size-300);
        & + .Section {
            margin-top: var(--size-400);
        }
    }

    div[role="menubar"] {
        width: 100%;
        max-width: 600px;
        align-self: center;
    }

    .flareGreen {
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            top: -200px;
            width: 300px;
            height: 600px;
            filter: blur(124px);
            background-color: var(--brand-2);
            opacity: 0.6;
            content: "";
            display: block;
            border-radius: 20%;
            transform: rotate(-45deg);
            z-index: -2;
        }
    }
    .CodeFormatter {
        * {
            font-size: 14px !important;
            line-height: 1.6 !important;
        }
    }
    .ComponentPreview {
        padding: var(--size-400);
        border-radius: var(--size-100);
        border: 1px solid var(--border-neutral-subtle);
        background-color: var(--background-neutral-container);
        align-items: center;
        justify-content: center;
        position: relative;
        gap: var(--size-200);
        min-height: 248px;

        & + .ComponentPreview,
        & + .ComponentPreviewCode,
        & + .CodeFormatter {
            margin-top: var(--size-400);
        }
        & + p,
        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5 {
            margin-top: var(--size-400);
        }
    }

    .Error {
        position: absolute;
        bottom: var(--size-100);
        left: var(--size-100);
        right: var(--size-100);
        width: fit-content;
        color: var(--foreground-danger) !important;
        z-index: 3;
        pre {
            line-height: var(--size-300);
        }
        &:empty {
            display: none;
        }
    }
    .TabsContent {
        background-color: transparent;
        margin-top: var(--size-200);
    }
    .TabsTrigger {
        background-color: transparent !important;
    }
    .ComponentPreviewCode {
        padding: 0;
        position: relative;
        border-radius: var(--size-100);
        border: 1px solid var(--border-neutral-subtle);
        background-color: var(--background-neutral-container);
        align-items: flex-start;
        justify-content: center;
        // overflow: hidden;
        gap: 0;
        box-sizing: border-box;
        flex-direction: row-reverse;
        max-height: 360px;
        min-height: 360px;
        &.Expanded {
            max-height: 100%;
        }

        & + .ComponentPreview,
        & + .ComponentPreviewCode,
        & + .CodeFormatter {
            margin-top: var(--size-400);
        }
        & + p,
        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5 {
            margin-top: var(--size-400);
        }
        .actions {
            position: absolute;
            bottom: var(--size-100);
            right: var(--size-100);
            z-index: 4;
            button:first-child {
                background-color: var(--background-neutral-container);
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: calc(50% - var(--size-200));
            left: 0px;
            bottom: 0px;
            height: 48px;
            background: linear-gradient(360deg, #04000a 0%, rgba(4, 0, 10, 0.6) 50%, rgba(4, 0, 10, 0) 100%);
            border-bottom-left-radius: var(--size-100);
        }
        h4 + p {
            margin: 0 !important;
        }
        > div {
            flex: 1;
            box-sizing: border-box;
            &:nth-of-type(1) {
                padding: var(--size-200);
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: stretch;
            }
            &:nth-of-type(2) {
                flex: 1;
                box-sizing: border-box;
                height: 100%;
                // overflow: scroll;
                border-top-left-radius: var(--size-100);
                border-bottom-left-radius: var(--size-100);

                background-color: var(--black);
                * {
                    line-height: 1.6;
                }
            }
        }
        &.verticalLayout {
            flex-direction: column;
            max-height: 600px;
            min-height: 480px;
            > div {
                &:nth-of-type(1) {
                    min-height: 220px;
                }
                &:nth-of-type(2) {
                    min-height: 220px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: var(--size-100);
                }
            }
            &.Expanded {
                > div {
                    &:nth-of-type(2) {
                        max-height: 100%;
                    }
                }
                max-height: fit-content;
            }
        }

        .prism-code {
            padding: var(--size-200) !important;
            box-sizing: border-box;
            width: 100%;
            padding-bottom: var(--size-400) !important;
            overflow: hidden;
            ::selection {
                background-color: var(--brand-2);
                color: var(--black) !important;
            }
        }
    }

    .DesignSystemBodyContainer {
        // max-width: 1440px;
        max-width: 1248px;

        padding: 0 var(--size-200);
        width: 100%;
        box-sizing: border-box;
        .sidebarMenu {
            width: 100%;
            max-width: 248px;
            box-sizing: border-box;
            padding: var(--size-300) var(--size-150);
            border-radius: var(--size-100);
            // border: 1px solid var(--border-neutral-subtle);
            background-color: var(--background-neutral-container);
            gap: var(--size-50);
            max-height: 60vh;
            z-index: 3;
            color: var(--foreground-neutral);
            box-shadow: var(--shadow-level-1);
            .search {
                > div:not(.inputfield) {
                    display: none;
                }
            }
            a {
                color: var(--foreground-neutral);
            }
            label.Logo {
                color: var(--foreground-neutral);
                margin-left: 0;
                margin-top: 0;
                svg {
                    max-width: 87px;
                    height: auto;
                    display: block;
                    width: 100%;
                    margin-bottom: 0;
                    * {
                        fill: currentColor;
                    }
                }
                display: flex;
                margin-bottom: var(--size-200);
            }
            .inputfield {
                min-width: auto;
                width: 100%;
                margin-bottom: var(--size-150);
            }
            &.Touched {
                position: fixed;
                top: 88px;
                // left: 16px;
            }
            h4 {
                margin-bottom: var(--size-150);
                padding-bottom: var(--size-50);
                border-bottom: 1px solid var(--border-neutral-subtle);
            }
            button {
                text-align: left;
                justify-content: flex-start;

                span {
                    width: 100%;
                    overflow: hidden;
                    word-wrap: none;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }
                svg {
                    min-width: 20px;
                }
            }
            // .ScrollAreaViewport > div {
            //     display: flex !important;
            //     flex-direction: column;
            //     gap: var(--size-50);
            //     width: 100%;
            //     min-height: auto;
            // }
            .ScrollAreaViewport {
                max-height: 40vh;
            }
        }

        .DesignSystemBody {
            // max-width: 1000px;
            width: 100%;
            position: relative;
            z-index: 0;
            box-sizing: border-box;
            &.Touched {
                // max-width: calc(1000px + (248px + 32px));
                padding-left: calc(248px + 32px);
            }

            .Section > {
                h1,
                h2,
                h3,
                h4 {
                    max-width: 32ch;
                    & + h1 {
                        margin-top: var(--size-100);
                    }
                    & + h2 {
                        margin-top: var(--size-100);
                    }
                    & + h3 {
                        margin-top: var(--size-100);
                    }
                    & + h4 {
                        margin-top: var(--size-100);
                    }
                    & + p {
                        margin-top: var(--size-200);
                    }
                    & + .CodeHighlight {
                        margin-top: var(--size-300);
                    }
                    & + .TableComponent,
                    & + .CodeFormatter {
                        margin-top: var(--size-300);
                    }
                    & + .ComponentPreview {
                        margin-top: var(--size-300);
                    }
                    & + .ComponentPreviewCode {
                        margin-top: var(--size-300);
                    }
                }
                p {
                    line-height: 180%;
                    // font-size: 20px;
                    color: var(--foreground-neutral-subtle);
                    max-width: 86ch;
                    & + p {
                        margin-top: var(--size-200);
                    }
                    & + h1 {
                        margin-top: var(--size-600);
                    }
                    & + h2 {
                        margin-top: var(--size-600);
                    }
                    & + h3 {
                        margin-top: var(--size-400);
                    }
                    & + h4 {
                        margin-top: var(--size-400);
                    }
                    & + .CodeHighlight {
                        margin-top: var(--size-600);
                    }
                    & + .TableComponent {
                        margin-top: var(--size-600);
                    }
                    & + .ComponentPreviewCode,
                    & + .ComponentPreview,
                    & + .TabsRoot {
                        margin-top: var(--size-600);
                    }
                    & + .CodeFormatter {
                        margin-top: var(--size-200);
                    }
                }
                .TableComponent {
                    & + p,
                    & + h1,
                    & + h2,
                    & + h3,
                    & + h4,
                    & + .container,
                    & + .CodeHighlight,
                    & + .CodeFormatter,
                    & + .iframeComponent,
                    & + .ComponentPreview {
                        margin-top: var(--size-400);
                    }
                }
                .container {
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: flex-start;
                    gap: var(--size-400);
                    display: flex;
                    flex: 1;
                    flex-wrap: wrap;
                    margin: var(--size-400) 0;
                    flex-wrap: wrap;
                }
                .CodeFormatter {
                    & + p {
                        margin-top: var(--size-400);
                    }
                }
                .iframeComponent {
                    min-height: 540px;
                    border-radius: 8px;
                    & + p {
                        margin-top: var(--size-400);
                    }
                }
                .TabsRoot {
                    & + p,
                    & + h1,
                    & + h2,
                    & + h3,
                    & + h4,
                    & + h5 {
                        margin-top: var(--size-400);
                    }
                }
                .FigmaIntegrationMessage {
                    margin: 0;
                    p {
                        color: var(--foreground-neutral-inverted);
                    }
                    img {
                        max-width: 40px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

// helpers
.Preview {
    box-sizing: border-box;
    .flex {
        border: 1px solid transparent;
    }
}
.gridlines {
    .flex {
        border: 1px dashed var(--blue-2);
    }
}
.Slider {
    max-width: calc(1216px);
    margin: 0 var(--size-200);
    width: calc(100% - var(--size-400));
    overflow: hidden;
    margin-bottom: var(--size-400);
}
.swiper {
    width: 100%;
}
.swiper-wrapper {
    width: 100%;
    align-items: stretch;
}
.swiper-slide {
    background-color: var(--background-neutral-container-inverted);
    padding: 0;
    border-radius: 8px;
    height: auto;
    box-sizing: border-box;
    align-self: stretch;
    align-items: flex-start;
    color: var(--foreground-neutral-inverted);
    overflow: hidden;
    > .flex {
        width: auto;
        height: 100%;
        > .flex {
            box-sizing: border-box;
            &:first-child {
                padding: var(--size-300) var(--size-200);
                box-sizing: border-box;
            }
            &:last-child {
                background-color: var(--brand-1);
                box-sizing: border-box;
                padding: var(--size-200) 0;
                height: 100%;
                align-items: center;
                img {
                    width: 90%;
                    margin-left: auto;
                    height: max-content;
                    display: block;
                }
            }
        }
    }
    h3 {
        line-height: 1;
        margin-bottom: var(--size-100);
    }
    p {
        line-height: 1.6;
        margin-bottom: var(--size-200);
    }
}

@media screen and (max-width: 835px) {
    .PageHeader {
        padding: var(--size-100) var(--size-100);
        > .flex {
            padding: var(--size-200) var(--size-100);
        }
        margin-top: var(--size-600);
        margin-bottom: 0;
    }
    .ButtonsContainer {
        display: none;
    }
    .Navbar {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .Logo {
            max-width: 96px;
        }
    }
    .components-playground .box {
        flex-basis: 100%;
    }
    .DesignSystem {
        .Slider {
            overflow: visible;
            margin-bottom: 0;
            margin-top: var(--size-400);
            .swiper {
                overflow: visible;
                .swiper-slide {
                    > .flex {
                        > .flex:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
        .CodeFormatter {
            * {
                font-size: 12px !important;
            }
        }
        .ComponentPreviewCode {
            flex-direction: column;
            max-height: 600px;
            min-height: 480px;
            > div {
                &:nth-of-type(1) {
                    min-height: 220px;
                }
                &:nth-of-type(2) {
                    min-height: 220px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: var(--size-100);
                }
            }
            &.Expanded {
                > div {
                    &:nth-of-type(2) {
                        max-height: 100%;
                    }
                }
                max-height: fit-content;
            }
        }
        .DesignSystemBodyContainer {
            flex-direction: column;
            .DesignSystemBody,
            .DesignSystemBody.Touched {
                padding-left: 0;
                margin-top: var(--size-600);
            }
            .sidebarMenu,
            .sidebarMenu.Touched {
                padding: var(--size-150) var(--size-150);
                max-width: 100%;
                left: 16px;
                right: 16px;
                width: auto;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                position: fixed;
                top: 64px;
                label.Logo {
                    display: none;
                }
                h4 {
                    display: none;
                }
                > .flex:not(.search) {
                    display: none;
                }
                .inputfield {
                    margin-bottom: 0;
                }
                .search {
                    > div:not(.inputfield) {
                        display: block;
                    }
                }
            }
        }
    }
}
